#page-background {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/background.svg) no-repeat;
    display: flex;
    justify-content: center;
}

#page-background .content img {
    padding-top: 40px;
}

#page-background .content main {
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
}

#page-background .content main h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
}

#page-background .content main span {
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
}

.content .enter-app {
    position: absolute;
    width: 400px;
    height: 75px;
    background: #F0111F;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    transition: background-color 0.2s;
}

.enter-app .text-button .content .enter-app .text-button {
    text-align: center;
    font-size: 48px;
    line-height: 59px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
}

.home-content .enter-app:hover {
    background: #f33d4a;
}