#page-background {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/background.svg) no-repeat;
}

img {
  padding-top: 15vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6vh;
  font-weight: 500;
}

span {
  padding-top: 3vh;
  font-size: 4vh;
  font-weight: 300;
  width: 40vw;
  text-align: center;
}

.content {
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.enter-app {
  width: 15vw;
  height: 7vh;
  background: #f0111f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-app .text-button span {
  text-align: center;
  font-size: 2vh;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .content {
    height: 100%;
  }
  .enter-app {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 30vh;
    height: 10vh;
    width: 100%;
    border-radius: 0;
  }
  h1 {
    text-align: center;
    padding-top: 10vh;
    font-size: 7vw;
  }
  span {
    font-size: 4vw;
    width: 80%;
  }
  .enter-app .text-button span {
    font-size: 5vw;
  }
}
