* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box
}

body {
  width: 100vw;  
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
  background: black;
}

body,
input,
button,
textarea, a {
  font: 600 1vw Roboto, sans-serif;
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
}

input {
  color: white;
  padding-left: 2vh;
  background-color: #333333;
  height: 6vh;
  width: 80%;
}

button {
  background-color: #FF0010;
  color: white;
  height: 6vh;
}

:root {
  --color-text: black;
  --color-background: lightgray;
}
