* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box
}

body {
  width: 100vw;  
  height: 100vh;
  color: #ffffff;
  background: #ebf2f5;
}

body,
input,
button,
textarea, a {
  font: 600 1vw Roboto, sans-serif;
  text-decoration: none;
}

:root {
  --color-text: black;
  --color-background: lightgray;
}
